<div class="card">
  <h3 class="text-center">show user</h3>
  <div class="user-profile">
    <% if user.nil? %>
    <% else %>
      <% if user.linkedin_picture_url.nil? %>
        <%= user.first_name %> <%= user.last_name %>
      <% else %>
        <%= image_tag user.linkedin_picture_url, class: "avatar dropdown-toggle" %>
        <h3><%= user.first_name %> <%= user.last_name %></h3>
      <% end %>
    <% end %>
  </div>
</div>
