<div class="user-card card <%= user == @users.first ? "" : "hidden" %>" id="user_card_<%= user.id %>" data-user-id="<%= user.id %>">
  <div class="user-profile">
    <% if user.nil? %>
    <% else %>
      <% if user.linkedin_picture_url.nil? %>
        <div class="user-description text-center">
          <%= image_tag "http://placehold.it/30x30" %>
          <p><%= user.first_name %> <%= user.last_name %></p>
        </div>
        <ul>
        <% user.tag_list.each do |skill| %>
          <li class="tags">
             <%= skill %>
          </li>
        <% end %>
        </ul>
      <% else %>
        <div class="user-description text-center">
          <%= image_tag user.linkedin_picture_url %>
          <p><%= user.first_name %> <%= user.last_name %></p>
        </div>
        <ul>
        <% user.tag_list.each do |skill| %>
          <li class="tags">
             <%= skill %>
          </li>
        <% end %>
        </ul>
      <% end %>
      <div class="choose-user">
        <%= link_to "Work with #{user.first_name}", "", id: "choose-user", class: "choose-user btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
