<div class="user-card <%= user == @users.first ? "first-user" : "hidden" %>" id="user_card_<%= user.id %>" data-user-id="<%= user.id %>">
  <div class="user-profile">
      <div class="user-description text-center">
        <% if user.linkedin_picture_url.nil? %>
          <% if user.photo.nil? %>
            <%= image_tag "profile_default.png", class: "avatar" %>
          <% else %>
            <%= cl_image_tag(user.photo.path, width: 70, height: 70, crop: :fill, class: "avatar") %>
          <%end%>
        <% else %>
            <%= image_tag user.linkedin_picture_url, class: "avatar" %>
        <% end %>

        <p><%= user.first_name %> <%= user.last_name %></p>
      </div>

      <div class="points">
        <%= pluralize(user.points, "point") %>  <i class="fa fa-star"></i>
      </div>

      <div class="skills">
        <h4>Skills</h4>
        <ul>
        <% user.tag_list.each do |skill| %>
          <li class="tag"><a href="#"><%= skill %></a></li>
        <% end %>
        </ul>
      </div>

      <div class="resume">
        <h4>Resume</h4>
        <p><%= user.profile_description %></p>
      </div>


      <%= link_to "Work with #{user.first_name}", "", id: "choose-user", class: "choose-user btn btn-primary" %>

  </div>
</div>
