<div class="card">
  <h3 class="text-center">show user</h3>
  <div class="user-profile">
    <% if user.nil? %>
    <% else %>
      <% if user_has_photo? %>
      <%= image_tag user.linkedin_picture_url, class: "avatar dropdown-toggle" %>
      <h3><%= user.first_name %> <%= user.last_name %></h3>
      <% else %>
        <%= user.first_name %> <%= user.last_name %>
        <ul>
        <% user.tag_list.each do |skill| %>
          <li class="tags">
             <%= skill %>
          </li>
        <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
