
<div class="container">

  <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="rad-info-box rad-txt-success">
          <%= image_tag "gold-medal.png"  %>
          <span class="heading">Earned Points</span>
          <span class="value"><strong><%= current_user.points %></strong></span>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="rad-info-box rad-txt-primary">
          <%= image_tag "flash.png"  %>
          <span class="heading">People you helped</span>
          <span class="value"><strong><%= @sessions.length %></strong></span>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="rad-info-box rad-txt-danger" id ="gift">
          <!-- <div class="front"> -->
            <%= image_tag "gift.png" %>
            <span class="heading">Next bonus CE in </span>
            <span class="value"><strong> <%= pluralize(500 - current_user.points, 'point') %></strong></span>
          <!-- </div>
          <div class="back" >
            <%= image_tag("beach.png", height: "135px", width: "1px") %>
          </div> -->
      </div>
      </div>
  </div>
  <br>


  <div class="row">

    <div class="col-md-6">
      <div id="skills">
        <h2 class="header_block"> Your skills </h2>
          <div class="tags-container text-left">
            <% @skills.each do |skill| %>
            <ul class="tags">
              <li class="tag"><a href="#"><%= skill %></a></li>
            </ul>
            <% end %>
          </div>
          <%= simple_form_for :skill, method: "get", url: {action: :add_skill} do |f| %>
            <div class="form-actions">
              <%= f.input :name, label: false, as: :select, collection: Skill.all.map { |skill| [skill.name, skill.name] }, input_html: { rows: 6, class: "chosen-select", multiple: true, :data => { :placeholder => 'select the skills you want to add'}} %>
              <%= f.submit "submit", class: "btn btn-primary"%>
            </div>
          <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div id="Activity">
      <h2 style="text-align:center;" class="header_block"> Your schedule </h2>
<ol class="activity-feed">
<% @kombos.each do |kombo| %>
  <% unless kombo.status == "done" || kombo.status == "decline" %>
    <% if kombo.problem_user == current_user %>
      <li class="feed-item">
        <time class="date"><%= kombo.starts_at.strftime("%b %l")%></time>
        <span class="text">Asked help to <%= kombo.solver_user.first_name %> <%= kombo.solver_user.last_name %>, who is a <%= kombo.solver_user.work_department%> expert</span>
      </li>
    <% else %>
      <li class="feed-item">
        <time class="date"><%= kombo.starts_at.strftime("%b %l") %></time>
        <span class="text"><%= kombo.problem_user.first_name %> <%= kombo.problem_user.last_name %> asked for your help. Needs a <%= kombo.solver_user.work_department %> expert</span>
      </li>
    <% end %>
    <% end %>
    <% end %>

<!--
  <li class="feed-item">
    <time class="date" datetime="9-23">Sep 23</time>
    <span class="text">Accepted the task<a href="#"> “Need a excel expert”</a></span>
  </li>
  <li class="feed-item">
    <time class="date" datetime="9-21">Sep 21</time>
    <span class="text">Your need has been taken by <a href="#">“Cedric Njanga”</a></span>
  </li> -->
</ol>
      </div>
    </div>


  </div>
 <div class="row">
<!--
    <div class="col-md-6">
      <div id="Rewards">
      <h2 style="text-align:center;"> <%= image_tag("trophy.png", size: "30x30") %> your rewards </h2>
      </div>
    </div> -->

      <!--   <div class="col-md-6">
      <div id="identity">
        <h2 class="header_block"> Your profile </h2>
        <p style="text-align:center;"> <%= @user.first_name%> <%= @user.last_name%></p>
        <p style="text-align:justify;"> <%= @user.profile_description%></p>
       <p style="text-align:center;"> <%= link_to "edit", edit_user_registration_path, class: "btn btn-primary" %></p>
      </div>
    </div> -->


  </div>

  <%= content_for(:after_js) do %>
    <script>
      $("#gift").flip();
    </script>
  <% end %>
