<div id="chat">
 <div id="chat-content" class="<%= current_user.id %>">
  <div class="<%= @work_session.problem_user == current_user ? 'message_from_current_user current_user' : 'message_from_other_user other_user' %>">
       <p class="username"> <%= @work_session.problem_user.first_name %> </p>
       <p class="message_text"> Hey <%= @work_session.solver_user.first_name %>! I need your help, are you available on <%= l(@work_session.starts_at, format: '%A %e %B') %>?</p>
     </div>
   <% @conversation.each do |message| %>
   <div class="<%= message.user == current_user ? 'message_from_current_user current_user' : 'message_from_other_user other_user' %>">
     <p class="username"> <%= message.user.first_name %> </p>
     <p class="message_text"> <%= message.content %> </p>
   </div>
   <% end %>
 </div>
 <div class="brief text-center">
   <%= render partial: 'messages/message_form', locals: {message: @message, work_session: @work_session}%>
 </div>
 </div>
