<div class="col-xs-12 col-sm-4">
 <div id="chat" class="card">
   <div id="chat-content" class="<%= current_user.id %>">
     <% @conversation.each do |message| %>
     <div class="<%= message.user == current_user ? 'message_from_current_user current_user' : 'message_from_other_user other_user' %>">
       <p class="username"> <%= message.user.first_name %> </p>
       <p class="message_text"> <%= message.content %> </p>
     </div>
     <% end %>
   </div><br/>
   <div class="brief text-center">
     <%= render partial: 'messages/message_form', locals: {message: @message, work_session: @work_session}%>
   </div>
 </div>
</div>
