<%= simple_form_for @work_session do |f| %>
<div class="container" id='user-index'>
  <div class="row">
    <%= render 'users/index' %>
    <div class="col-xs-12 col-sm-8 user-show-container">
      <% @users.each do |user| %>
        <%= render "users/user_card", user: user %>
      <% end %>
      <%= f.hidden_field :solver_user_id, id: 'solver_id' %>
    </div>
  </div>
</div>

<div class="container hidden" id='brief'>
  <div class="card">
    <h3>Write a Brief</h3>
    <div class="brief text-center">
      <%= f.input :brief, as: :text, input_html: {id: 'brief-editor'} %>
      <%= link_to "Send Brief", "", class: 'btn btn-primary send-brief' %>
    </div>
  </div>
</div>

<div class="container hidden" id='datepicker'>
  <div class="card">
    <div class="datepicker-container">
      <%= f.input_field :starts_at, :class => 'datepicker', as: :string %>
      <%= f.submit class: "btn btn-success" %>
    </div>
  </div>
</div>
<% end %>

