<div class="working-space container">
  <div class="left-part">
    <div class="header text-center">
      <% if @work_session.problem_user.linkedin_picture_url.nil? %>
        <% if @work_session.problem_user.photo.nil? %>
          <%= image_tag "profile_default.png", class: "avatar" %>
        <% else %>
          <%= cl_image_tag @work_session.problem_user.photo.path, width: 70, height: 70, crop: :fill, class: "avatar" %>
        <%end%>
      <% else %>
          <%= image_tag @work_session.problem_user.linkedin_picture_url, class: "avatar" %>
      <% end %>

      <% if @work_session.solver_user.linkedin_picture_url.nil? %>
        <% if @work_session.solver_user.photo.nil? %>
          <%= image_tag "profile_default.png", class: "avatar" %>
        <% else %>
          <%= cl_image_tag @work_session.solver_user.photo.path, width: 70, height: 70, crop: :fill, class: "avatar" %>
        <%end%>
      <% else %>
          <%= image_tag @work_session.solver_user.linkedin_picture_url, class: "avatar" %>
      <% end %>


      <h2><%= @work_session.starts_at.strftime("%A %e %B %Y") %></h2>
      <p><%= @work_session.status.capitalize %></p>

      <div class="points">
        <%= pluralize(50, "point") %>  <i class="fa fa-star"></i>
      </div>
      <div class="work_session_buttons">
        <% if current_user.id == @work_session.solver_user_id %>
          <% if @work_session.status == "pending" %>
            <%= link_to "Validate", validate_work_session_path(@work_session), class: "btn btn-success btn-work-session1", method: :post %>
            <%= link_to "Decline", decline_work_session_path(@work_session), class: "btn btn-danger btn-work-session2", method: :post %>
          <% end %>
        <% elsif current_user.id == @work_session.problem_user_id %>
          <% if @work_session.status == "validate" %>
            <%= link_to "Done", done_work_session_path(@work_session), class: "btn btn-warning btn-work-session1", method: :post %>
          <% elsif @work_session.status == "done" %>
            <%= button_tag "Add a review", type: 'button', data: { target: "#newReview", toggle: "modal"}, class: "btn btn-primary btn-work-session1" %>
          <% end %>
        <% end %>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="newReview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Write your review</h4>
      </div>
      <div class="modal-body">
        <%= render 'reviews/new', work_session: @work_session, review: @review %>
      </div>
    </div>
  </div>
</div>

    <div class="body">
      <div class="files-box">
        <div class="file-box">
          <%= image_tag "xls.png" %>
          <p>spreadsheet.xls</p>
        </div>
        <div class="file-box">
          <%= image_tag "pdf.png" %>
          <p>brief.pdf</p>
        </div>
      </div>
      <div class="brief-text">
        <%= @work_session.brief.html_safe %>
      </div>
    </div>

  </div>

  <div class="right-part">
    <%= render 'chat', work_session: @work_session, message: @message %>
  </div>
</div>




<%= content_for(:after_js) do %>
  <script>
  $('#new_message').keydown(function(e) {
    var key = e.which;
    if (key == 13) {
    // As ASCII code for ENTER key is "13"
      $('#new_message').submit(); // Submit form code
      }
  });

  // $('#new_message').on('click', function() {
  //   $('#message_sent_sound').play();
  // });

  </script>
<% end %>
