<h1 class="text-center">Your Work Session</h1>

<div class="container">
  <div class="row">
    <div class="test">
      <div class="col-xs-12 col-sm-8">
        <div class="card text-center">
          <h2>Recap</h2>
          <div id="buddies">
            <%= image_tag "http://placehold.it/100x100" %>
            <i class="fa fa-arrows-h fa-2x" aria-hidden="true"></i>
            <%= image_tag "http://placehold.it/100x100" %>
          </div>
          <p>Status: <%= @work_session.status.capitalize %></p>
          <p><%= @work_session.starts_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
        </div>

        <div class="card">
          <div class="brief text-center">
            <h2> Brief </h2>
            <div class="fr-view">
              <%= @work_session.brief.html_safe %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= render 'chat', work_session: @work_session, message: @message %>
      </div>
      <% if current_user.id == @work_session.solver_user_id %>
        <% if @work_session.status == "pending" %>
          <%= link_to "Validate", validate_work_session_path(@work_session), class: "btn btn-success", method: :post %>
          <%= link_to "Decline", decline_work_session_path(@work_session), class: "btn btn-danger", method: :post %>
        <% end %>
      <% elsif current_user.id == @work_session.problem_user_id %>
        <% if @work_session.status == "validate" %>
          <%= link_to "Done", done_work_session_path(@work_session), class: "btn btn-warning", method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>

<%= content_for(:after_js) do %>
  <script>
  $('#new_message').keydown(function(e) {
    var key = e.which;
    if (key == 13) {
    // As ASCII code for ENTER key is "13"
      $('#new_message').submit(); // Submit form code
      }
  });

  // $('#new_message').on('click', function() {
  //   $('#message_sent_sound').play();
  // });

  </script>
<% end %>
