<div class="banner" style="background-image:url(<%= asset_url('kombo_header.png') %>);">


  <div class="banner-content">
    <h1> Click & Match</h1>
    <h3>Main skills</h3>
    <%= simple_form_for :skill, method: "get", url: :users do |f| %>
    <%= f.input :name, label: false, as: :select, collection: Skill.all.map { |skill| [skill.name, skill.name] }, input_html: { rows: 6, class: "chosen-select", multiple: true, :data => { :placeholder => 'select the skills you need '}} %>
    <h3> Optional skills </h3>
    <%= f.input :name, label: false, as: :select, collection: Skill.all.map { |skill| [skill.name, skill.name] }, input_html: { rows: 6, class: "chosen-select", multiple: true, :data => { :placeholder => 'select the skills you need '}} %>


    <%= f.submit "find match", class: "btn-mine" %>
    <% end %>
  </div>
</div>


<div class="row">
 <div class="box">
<h2 style="text-align:center;" class="js-shadow" id="myh2"> How Kombo is working ?</h2>
</div>
</div>

<div class="description">
  <div class="container-fluid">
    <div class="row">

     <div class="col-md-4">
        <h2 style="text-align:center;" class=> Categorize your need</h2>
       <div class="icones" id="icone1"></div>
      </div>

      <div class="col-md-4">
        <h2 style="text-align:center;">find the good one </h2>
       <div class="icones" id="icone2"></div>
      </div>


      <div class="col-md-4">
        <h2 style="text-align:center;">work in pair</h2>
        <div class="icones" id="icone3"></div>
      </div>


    </div>
  </div>
</div>

<script>
var makeShadow = function(num, color) {
  var value = '';
  for(var i = 1; i < num; i++) {
    value += i+'px '+i+'px 0px' +color;
    if(i != num - 1) {
      value += ', ';
    }
  }
  return value;
};
document.querySelector('.js-shadow').style.textShadow = makeShadow(200, '#B83A3A');

</script>
