<div class="banner" style="background: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= asset_url('workingduo.jpg') %>);">


  <div class="banner-content">
    <h1> Click & Match</h1>
    <!-- <h3>Main skills</h3> -->
    <%= simple_form_for :skill, method: "get", url: :users do |f| %>
    <%= f.input :name, label: false, as: :select, collection: Skill.all.map { |skill| [skill.name, skill.name] }, input_html: { rows: 6, class: "chosen-select", multiple: true, :data => { :placeholder => 'select the skills you need '}} %>
    <!-- <h3> Optional skills </h3>
    <%= f.input :name, label: false, as: :select, collection: Skill.all.map { |skill| [skill.name, skill.name] }, input_html: { rows: 6, class: "chosen-select", multiple: true, :data => { :placeholder => 'select the skills you need '}} %>
 -->

    <%= f.submit "find match", class: "btn-mine" %>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
<% else %>
<div class="row">
 <div class="box">
<h3 style="text-align:center;" class="js-shadow" id="myh2"> How Kombo is working ?</h3>
</div>
</div>

<div class="description">
  <div class="container-fluid">
    <div class="row">

    <div class="icones-container">
     <div class="col-md-4">
        <h4 style="text-align:center;" class=> Categorize your need</h4>
       <div class="icones" id="icone1"></div>
      </div>

      <div class="col-md-4">
        <h4 style="text-align:center;">find the good one </h4>
       <div class="icones" id="icone2"></div>
      </div>


      <div class="col-md-4">
        <h4 style="text-align:center;">work in pair</h4>
        <div class="icones" id="icone3"></div>
      </div>
    </div>
  </div>
</div>
<% end %>
